:root {
    --header-background: #f76767;
    --li-a-background: #f70e0e;
    --li-a-color: #eee;
    --body-font-size: 1.2rem;
    --body-font-family: Verdana;
    --button-font-family: sans-serif;
    --navigation-background-color: rgb(48, 48, 189);
}
 * {
    box-sizing: border-box;
    margin: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
 }
 html {
    line-height: 1.15;  
    -ms-text-size-adjust: 100%;  
    -webkit-text-size-adjust: 100%;  
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    font-size: var(--body-font-size);
    font-family: var(--body-font-family), var(--button-font-family);
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  
  header h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  
  
  figcaption,
  figure,
  main {  
    display: block;
  }
  
  
  figure {
    margin: 1rem 2.5rem;
  }
  
  hr {
    box-sizing: content-box;  
    height: 0;  
    overflow: visible;  
  }
  
  pre {
    font-family: monospace, monospace;  
    font-size: 1rem;  
  }
  
  a {
    background-color: transparent;  
    -webkit-text-decoration-skip: objects;  
  }
  
  abbr[title] {
    border-bottom: none;  
    text-decoration: underline;  
    text-decoration: underline dotted;  
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }

  header {
    width: 100%;
    height: 12.83rem;
  }

  header, footer {
    background-color: var(--header-background-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: var(--header-size);
    padding: 2rem 0 2rem 0rem;
    text-align: center;
  }

  header h2 {
    margin: 0; font-weight: normal;
  }

  nav ul {
      display: flex;
      flex-direction: column;
      place-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav ul li {
    display: flex;
    place-items: center;
  }

  main {
      padding: 0.8rem 0 2.8rem 0;
      min-height: 20rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2%;
  }

    code,
    kbd,
    samp {
      font-family: monospace, monospace;  
      font-size: 1em;  
    }
    
    dfn {
      font-style: italic;
    }
    
    mark {
      background-color: #ff0;
      color: #000;
    }
    
    small {
      font-size: 80%;
    }
  
    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    
    sub {
      bottom: -0.25em;
    }
    
    sup {
      top: -0.5em;
    }
  
    audio,
    video {
      display: inline-block;
    }
    
    audio:not([controls]) {
      display: none;
      height: 0;
    }
    
    img {
      border-style: none;
    }
    
    svg:not(:root) {
      overflow: hidden;
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: var(--button-font-family);  
      font-size: 100%;  
      line-height: 1.15;  
      margin: 0;  
    }
  
    button,
    input {  
      overflow: visible;
    }
    
    button,
    select {  
      text-transform: none;
    }
    
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 0.0625rem dotted ButtonText;
    }

    fieldset {
      padding: 0.35rem 0.75rem 0.625rem;
      margin-bottom: 4rem;
    }
    
    
    legend {
      box-sizing: border-box;  
      color: inherit;  
      display: table;  
      max-width: 100%;  
      padding: 0;  
      white-space: normal;  
    }
    
    progress {
      display: inline-block;  
      vertical-align: baseline;  
    }
    
    textarea {
      overflow: auto;
    }
    
    [type="checkbox"],
    [type="radio"] {
      box-sizing: border-box;  
      padding: 0;  
    }
    
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto;
    }
    
    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }
    
    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit;
    }

    details,
    menu {
      display: block;
    }

    summary {
      display: list-item;
    }

    #profile {
      width: 5rem;
      height: 5rem;
      margin: 2rem;
    }

    .form-group label {
      font-weight: bold;
    }
    
    canvas {
      display: inline-block;
    }

    template {
      display: none;
    }
    
    [hidden] {
      display: none;
    }

    label {
      display: block;
      margin-bottom: 0.3125rem;
    }
    input[type="text"], input[type="password"], input[type="email"] {
      padding: 0.3125rem;
      border: 0.0625rem solid #ccc;
      width: 100%;
    }
    .error {
      color: red;
      font-weight: bold;
    }
    #pop {
      margin: 6rem;
    }
    
  @media only screen and (min-width: 44.375rem) {

      nav ul {
          display: flex;
          flex-direction: row;
          place-content: center;
          margin-left: 2%;
      }
      nav ul li {border: none;}
      nav ul li a{padding: 0.5rem 2rem;}
      nav ul li a:hover {background-color: firebrick;
      }
      h2 {
        font-size: 2rem;
        text-align: center;
        }
    
        #menu, .navigation {
        display: none; 
        }
    
        .navigation {
            display: none;
        }

        .navigation-largesize {
            display: flex;
            flex-direction: row;
            list-style: none;
            color: #fff;
            font-size: 0.9rem;
            margin: 0 1rem 0 1rem;
        }
        
        .navigation-largesize a {
            display: block;
            flex: 1 1 100%;
            min-width: 4rem;
            min-height: 3rem;
            margin: 1rem;
            padding: 0.5rem;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        .navigation-largesize a:hover {
            background-color: var(--nav-hover-background-color);
            font-weight: 700;
        }
      }

  @media only screen and (min-width: 64rem) {

      nav, main {
          max-width: 64rem;
          margin:auto;
      }
  } 