@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #00A;
    
    --secondary-color: #FFFFFF;

    --header-background-color: #005AA4;
    
    --navigation-background-color: rgb(48, 48, 189);

    --header-size: 1.5rem;

    --footer-size: 2.5rem;

    --heading-font: 'Poppins', sans-serif;

    --paragraph-font: 'Manrope',sans-serif;

    --nav-hover-background-color: #b81b0a;

    --div-background-color: #007ee6;

    --card-background: #860021;

    --container-background: #c24444;

    --general-font: helvetica; 
  }

  header,
  nav,
  main,
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--paragraph-font);
  }

  header {
    width: 100%;
    height: 12.83rem;
  }

  header, footer {
    background-color: var(--header-background-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: var(--header-size);
    padding: 2rem 0 2rem 0rem;
    text-align: center;
  }

  header h1{
    font-size: var(--header-size);
  }

  span {
    margin: 0 0 0 0;
  }

  #counter {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: var(--heading-font);
  }
  
  h2 {
    font-size: 1.2rem;
    color: white;
    text-align: left;
    margin: 1rem;
    font-family: var(--heading-font);
  }

  #h1-main {
    font-size: 1.6rem;
    color: black;
    text-align: left;
    margin: 1rem;
    font-family: var(--heading-font);
    font-weight: bolder;
  }

  #background-image {
    width: 100%;
    height: auto;
  }
  
  nav {
    max-width: 700px;
    margin: 1rem auto;
  }

  #chamber-logo {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
  }

  #social-media-logos {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
  }

  #facebook-logo, #instagram-logo {
    border-radius: 4rem;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
  }
  
  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #FFFFFF;
    position: absolute;
    margin: -2rem -1.7rem 0 1rem;
    top: 2rem;
    right: 2rem;
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::before {
    content: "❎";
  }

  .menu {
    margin: 1rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
  }

  .menu button {
    padding: 1rem;
    font-weight: 700;
  }

  #cards, .company-card, .company-name, .company-address, .company-phone, .company-website, .company-other {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-family: var(--general-font);
  }

  #cards {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 4rem;
  }

  .company-card {
      flex-direction: column;
      margin: 1rem;
      padding: 2rem;
      background-color: var(--card-background);
      width: 18rem;
      height: auto;
      border: 0.0625rem solid black;
      box-shadow: 0 0 0.8rem rgba(1, 1, 1, 1); 
  }

  .company-portrait {
    margin: 1rem;
  }

  .company-name, .company-other {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--container-background);
    color: var(--secondary-color);
    font-size: 1.6rem;
  }

  .company-address, .company-phone, .company-website, .company-other {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
  }

  .company-other {
    margin: 1rem 1.6rem 1rem 1.6rem;
  }

  .list section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .list section img {
    display: none;
  }

  .list section p {
    padding: 1rem;
  }

  .list section:nth-child(even) {
    background-color: rgb(185, 47, 47);
  }

  .list .company-phone, .list .company-address {
    display: none;
  }

  .navigation-largesize {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--navigation-background-color);
    color: #fff;
    margin: 0 0 0 0;
  }

  .navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .navigation a:hover {
    background-color: var(--nav-hover-background-color);
    font-weight: 700;
  }

  .open a {
    display: block;
  }

  .side-image {
      max-width: 90%;
      height: auto;
      margin: 0.9rem 0.9rem 0.9rem 0.9rem; 
  }

  .side-image:hover {
    box-shadow: 0 0 50px #333;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #background-section {
    display: grid;
    position: relative;
    place-items: center;
    width: 100%;
    height: auto;
    margin: 0;
  }

  #join {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bolder;
    font-size: 0.7rem;
    padding:  0.6rem 0.6rem 0.6rem 0.6rem;
    background-color: var(--primary-color);
    border-radius: 25%;
    min-height: 3rem;
    box-shadow: 0.4rem 0.4rem 0.6rem rgba(0.2, 0.2, 0.2, 0.5);
  }

  #join-discover {
    position: absolute;
    top: 127%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bolder;
    font-size: 0.6rem;
    padding:  0.6rem 0.6rem 0.6rem 0.6rem;
    background-color: var(--primary-color);
    border-radius: 25%;
    min-height: 3rem;
    box-shadow: 0.4rem 0.4rem 0.6rem rgba(0.2, 0.2, 0.2, 0.5);
  }

  #main-content {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: var(--paragraph-font);
    width: 90%;
  }

  .events, .weather, .bioinformatics, .materials, .vaccines, .energy {
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: var(--div-background-color);
    margin: 1rem 0rem 1rem 0rem;
    padding: 0 1rem 1rem 1rem;
    grid-column: 1/21;
  }
  #sidebar {
    display: grid;
    top: -1.5rem;
    left: 1rem;
    width: 15rem;
    height: 76hv;
    color: white;
    background-color: #007ee6;
    padding: 0.7rem;
    margin-top: 1rem;
  }
  iframe {
    margin: 2rem 0 2rem 0;
    width: 13rem;
    height: 11rem;
  }
  .events {
    grid-row: 1/2;
  }
  .weather {
    grid-row: 2/3;
  }
  .bioinformatics {
    grid-row: 3/4;
  }
  .materials {
    grid-row: 4/5;
  }
  .vaccines {
    grid-row: 5/6;
  }
  .energy {
    grid-row: 6/7;
  }

  table {
    border-collapse: collapse; 
    color: white;
  }

  th, td {
    padding: 0.46rem;
    border: 0.0625rem solid #ddd;
  }

  .line {
      border-top: 0.125rem outset black;
      width: 98%;
      margin: 1rem 0rem 1rem 0rem;
  }

  .footer-topline p {
    font-size: 1.2rem;
  }

  .counter-visits {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .counter-visits span, .counter-visits p {
    padding: 1rem;
  }

  .footer-bottomline p {
    font-size: 0.8rem;
  }
  .label {
    font-family: var(--paragraph-font);
    font-weight: 700;
    margin-top: 5rem;
  }

  #pop {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  .membership-benefits {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }
  .membership-benefits p{
    margin: 1rem;
  }

  .form-group label {
    margin: 0.8rem;
  }

  @media (max-width: 36.875rem) {
    .counter-visits {
        flex-direction: column;
        margin: 0 2rem 4rem 2rem;
    }
  }

  @media (max-width: 55.625rem) {
    .list section {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 67.187rem) {
    .list section img {
      display: block;
      margin: 0.5rem;
    }
    .list .company-address, .list .company-phone {
      display: block;
    }
  }