@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #00A;
  
    --secondary-color: #FFFFFF;

    --header-background-color: #243b58;

    --navigation-background-color: rgb(48, 48, 189);

    --header-size: 1.5rem;

    --footer-size: 2.5rem;
  
    --heading-font: 'Poppins', sans-serif;
  
    --paragraph-font: 'Manrope',sans-serif;
  
    --nav-hover-background-color: #b81b0a;

    --div-background-color: #007ee6;

  }

    @media (min-width: 28.125rem) {
        .events, .weather, .bioinformatics, .materials, .vaccines, .energy {
            font-size: 1.5rem;
        }
        #background-section {
            width: 80%;
            height: auto;
            margin: 0;
        }
    }

    @media (min-width: 44.375rem) {
    
        h2 {
        font-size: 2rem;
        text-align: center;
        }
    
        #menu, .navigation {
        display: none; 
        }
    
        .navigation {
            display: none;
        }

        .navigation-largesize {
            display: flex;
            flex-direction: row;
            list-style: none;
            color: #fff;
            font-size: 0.9rem;
            margin: 0 1rem 0 1rem;
        }
        
        .navigation-largesize a {
            display: block;
            flex: 1 1 100%;
            min-width: 4rem;
            min-height: 3rem;
            margin: 1rem;
            padding: 0.5rem;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
        .navigation-largesize a:hover {
            background-color: var(--nav-hover-background-color);
            font-weight: 700;
        }
    
        #join {
            top: 25%;
            left: 40%;
            font-size: 1rem;
            padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        }

        #join-discover {
            top: 60%;
            left: 60%;
            font-size: 1rem;
            padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        }
    
        #main-content {
            grid-auto-flow: column;
        }
        .events, .weather, .bioinformatics, .materials, .vaccines, .energy {
            grid-column: 10/21;
            font-size: 1.2rem;
        }

        #sidebar {
            display: show;
            position: fixed;
            top: -1.5rem;
            left: 1rem;
            width: 18rem;
            height: 65hv;
            color: white;
            background-color: #007ee6;
            padding: 0.7rem;
            margin-top: 15.4rem;
            margin-bottom: 2rem;
          }
          .label {
            display: block;
            width: 175px;
            font-weight: 700;
            text-align: right;
            margin-right: 10px;
        }
        #footer-lines {
            margin: 0 -12.7rem 1rem 12rem;
        }
        iframe {
            margin: 2rem 0 1rem 0;
            width: 16rem;
            height: 11rem;
          }
    }

    @media (min-width: 76.56rem) {
        header {
            font-size: 2.2rem;
        }
        header h1{
            font-size: 2.2rem;
        }
        .navigation-largesize {
            margin: 0 1rem 0 1rem;
            font-size: 1.5rem;
        }
        .navigation-largesize a {
            width: 10rem;
        }
        #social-media-logos {
            flex-direction: row;
        }
        #facebook-logo, #instagram-logo {
            border-radius: 4rem;
            margin: 1rem 1rem 0 1rem;
        }
 
        #join {
            top: 55%;
            left: 55%;
            font-size: 1.2rem;
            padding: 1rem 1rem 1rem 1rem;
        }

        #join-discover {
            top: 70%;
            left: 60%;
            font-size: 1.2rem;
            padding: 1rem 1rem 1rem 1rem;
        }

        #main-content {
            margin:0;
            grid-auto-flow: column;
        }
        .events, .weather, .bioinformatics, .materials, .vaccines, .energy {
            grid-column: 8/21;
            margin-right: 1.5rem;
        }
        .smaller {
            font-size: 1rem;
        }

        .footer-topline, .footer-bottomline {
            font-size: 1rem;
            margin-top: 1rem;
        }

        .footer-topline p, .footer-bottomline p {
            margin-left: 1rem;
            padding-top: 1rem;
        }

        .footer-topline p {
            font-size: 1.5rem;
        }

        .footer-bottomline p {
            font-size: 1.1rem;
        }

        #footer-lines {
            margin: 0 -9rem 1rem 12rem;
        }
        .side-images {
            width: 100%;
            margin: 0.9rem 0.9rem 0.9rem 7.8rem;
        }
    }