@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #0B3C49;
  
    --secondary-color: #731963;
  
    --accent1-color: #FFFDFD;
  
    --accent2-color: #CBD2D0;
  
    --heading-font: 'Poppins', sans-serif;
  
    --paragraph-font: 'Manrope',sans-serif;
  
    --headline-color-on-white: #0B3C49;  /* headlines on a white background */ 
  
    --headline-color-on-color: #FFFDFD; /* headlines on a colored background */ 
  
    --paragraph-color-on-white: #CBD2D0; /* paragraph text on a white background */ 
  
    --paragraph-color-on-color: #0B3C49; /* paragraph text on a colored background */ 
  
    --paragraph-background-color: #396E94  ;
  
    --nav-link-color: #731963;
  
    --nav-background-color: rgb(30, 30, 134);
  
    --nav-hover-link-color: #FFFDFD;
  
    --nav-hover-background-color: #731963;
  
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  header,
  nav,
  main,
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--heading-font);
  }
  header, h2, .card-activities, .card-information {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header, nav, a {
      color: white;
      padding: 1rem 1rem 1rem 1rem;
  }

  header, h2 {
    background-color: var(--nav-background-color);
    font-size: 2.5rem;
  }

  #profile {
      width: 7rem;
      height: 7rem;
      margin: 1rem 1rem 1rem 1rem;
      border-radius: 2rem;
  }
  ul li {
      display: flex;
      flex-wrap: wrap;
      margin:  0rem 1.2rem 0rem 1.2rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 0 3rem 0;
    color: white;
  }

  h1 {
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 1.2rem;
    margin: 1.2rem 0 1.2rem 0;
    font-size: 1.2rem;
  }

  section {
    border: solid 0.1rem black;
    color: white;
    margin-bottom: 3rem;
    box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.3);
  }
  #cards {
    display: flex;
    flex-direction: column;
  }
  .card-activities {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-top: 4rem;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    margin: 4rem 7rem 0.2rem 7rem;
  }

  .card-activities h2, .card-information h2 {
    padding: 1rem 1rem 1rem 1.5rem;
  }

  .card-activities ul, .card-information ul {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }

  .card-activities li, .card-information li {
    margin-bottom: 1.5rem;
  }

  .card-activities a, .card-information a {
    color: black;
  }

  #hero picture img {
    width: 100%;
    height: auto;
  }
  span {
    font-weight: bold;
  }

  ul li {
      display:inline-block;
      margin:  0rem 0.5rem 0rem 0.5rem;
  }
  ul li a{
    text-decoration: none;
    transition: color 1.5s ease;
  }

  li a:hover {
    background-color:  orange;
  }

  #profile {
      width: 10rem;
      height: 10rem;
      margin: 1rem 3rem 1rem 2rem;
      border-radius: 2rem;
  }
  
  nav {
      background-color: black;
      font-size: 2rem;
  }
  
  #mode {
    position: absolute;
    top: -0.15rem;
    right: 0.90rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }

  main {
    display: flex;
    flex-direction: column;
}
  #hero {
    position: relative;
    width: 100%;

  }
  #cards {
    display: flex;
    flex-direction: column;
  }
  .card-activities a, .card-information a {
    display: flex;
    flex-direction: column;
  }

  header, h2, .card-activities, .card-information {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav, span {
    font-size: 1.2rem;
    text-align: center;
  }
  #profile {
    width: 7rem;
    height: 7rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
  }
  ul li {
    display: flex;
    flex-wrap: wrap;
    margin:  0rem 1.2rem 0rem 1.2rem;
  }
  .label-hero {
    position: absolute;
    top: 18%;
    left: 9%;
    color: black;
    font-weight: bolder;
    background: radial-gradient(#fff, #4D5B97);
    border: 0.1rem solid rgba(0,0,0,.75);
    padding: 0.3rem;
    box-shadow: 0 0 3rem #fff;
    font-size: 0.8rem;
    text-align: center;
    font-family: var(--heading-font);
    opacity: 0.79;
  }
  .footer-topline, .footer-bottomline {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 3rem;
  }
  .footer-topline p, .footer-bottomline p {
      margin-left: 1rem;
      padding-top: 2.1rem;
  }
  .footer-topline p {
      font-size: 1.41rem;
  }
  .footer-bottomline p {
      font-size: 1rem;
  }
  #chamber-logo {
    display: flex;
    place-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0 1rem 0 1rem;
  }
